.admin-users {
    padding: 20px;
  }
  
  .admin-users table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .admin-users th, td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: center;
  }
  
  .admin-users th {
    background-color: #f4f4f4;
  }
  